<header
  class="flex justify-center items-center mx-auto py-5 sticky top-0 w-full xl:w-[1120px] z-10">
  <nav
    class="border-2 border-teal-600 shadow-lg shadow-cyan-500/50 dark:border-white rounded-full font-bold px-3 py-2 flex flex-row items-center bg-neutral-200 dark:bg-black/50 backdrop-blur-2xl">
    <a
      class="hover:bg-teal-600/10 dark:hover:bg-white/10 rounded-full px-3 transition"
      title="Home"
      href="/home"
      ><span class="hidden md:flex">Home</span>
      <fa-icon class="flex md:hidden" [icon]="home"></fa-icon>
    </a>
    <a
      class="hover:bg-teal-600/10 dark:hover:bg-white/10 rounded-full px-3 transition"
      title="Sobre mi"
      href="/about">
      <span class="hidden md:flex">Sobre mí</span>
      <fa-icon class="flex md:hidden" [icon]="usuario"></fa-icon>
    </a>
    <a
      class="hover:bg-teal-600/10 dark:hover:bg-white/10 rounded-full px-3 transition"
      title="Experiencia"
      href="/experience">
      <span class="hidden md:flex">Experiencia</span>
      <fa-icon class="flex md:hidden" [icon]="experiencia"></fa-icon>
    </a>
    <a
      class="hover:bg-teal-600/10 dark:hover:bg-white/10 rounded-full px-3 transition"
      title="Proyectos"
      href="/proyects">
      <span class="hidden md:flex">Proyectos</span>
      <fa-icon class="flex md:hidden" [icon]="proyect"></fa-icon>
    </a>
    <!-- <a
      class="hover:bg-teal-600/10 dark:hover:bg-white/10 rounded-full px-3 transition"
      title="Contacto"
      routerLink="home"
      routerLinkActive="active">
      <span class="hidden md:flex">Contacto</span>
      <fa-icon class="flex md:hidden" [icon]="contacto"></fa-icon>
    </a> -->
  </nav>
  <app-toggle-theme></app-toggle-theme>
</header>
