<div
  class="absolute bottom-5 right-5 bg-[#dfdfdf] rounded-md max-w-md mx-auto hidden">
  <div class="flex items-center p-2">
    <div class="h-3 w-3 rounded-full mr-2 bg-red-500"></div>
    <div class="h-3 w-3 rounded-full mr-2 bg-yellow-500"></div>
    <div class="h-3 w-3 rounded-full bg-green-500"></div>
  </div>
  <div class="text-[#4AF626] bg-black p-4">
    <div>
      <span class="font-bold">user&#64;computer:</span
      ><span class="ml-1">~$</span>
      <span class="ml-2">ls</span>
    </div>
    <div class="pl-5">file1.txt file2.txt folder1</div>
    <div>
      <span class="font-bold">user&#64;computer:</span
      ><span class="ml-1">~$</span>
      <span class="ml-2">cd folder1</span>
    </div>
    <div>
      <span class="font-bold">user&#64;computer:</span
      ><span class="ml-1">~/folder1$</span>
      <span class="ml-2">cat file3.txt</span>
    </div>
    <div class="pl-5">This is the content of file3.txt</div>
  </div>
</div>
