<style>
  input:checked ~ .dot {
    transform: translateX(100%);
    /* background-color: #132b50; */
  }
</style>

<label for="dark-toggle" class="flex items-center cursor-pointer ml-3">
  <div class="relative">
    <input
      type="checkbox"
      name="dark-mode"
      id="dark-toggle"
      class="checkbox hidden"
      (click)="toggleDarkTheme()" />
    <div
      class="block border-[2px] border-gray-800 dark:border-white w-14 h-7 rounded-full"></div>
    <div
      class="dot absolute left-2 top-1 border-gray-800 dark:border-white w-6 h-5 rounded-full transition flex flex-col justify-center align-baseline">
      <fa-icon class="icon" *ngIf="darkThemeEnabled" [icon]="faMoon"></fa-icon>
      <fa-icon class="icon" *ngIf="!darkThemeEnabled" [icon]="faSun"></fa-icon>
    </div>
  </div>
</label>
