<label for="dark-toggle" class="flex items-center cursor-pointer ml-3">
  <div class="relative">
    <input
      type="checkbox"
      name="dark-mode"
      id="dark-toggle"
      class="checkbox hidden"
      (click)="toggleDarkTheme()" />
    <div
      class="shadow-lg shadow-cyan-500/50 block border-[2px] border-teal-600 dark:border-white w-14 h-7 rounded-full"></div>
    <div
      class="dot absolute left-1 top-1 border-teal-600 dark:border-white w-6 h-5 rounded-full transition flex flex-col justify-center align-baseline hover:bg-teal-600/10 dark:hover:bg-white/10">
      <span *ngIf="!darkThemeEnabled">🌞</span>
      <span *ngIf="darkThemeEnabled">🌚</span>
    </div>
  </div>
</label>
