<style>
  input:checked ~ .dot {
    transform: translateX(100%);
    /* background-color: #132b50; */
  }
</style>

<label for="dark-toggle" class="flex items-center cursor-pointer ml-3">
  <div class="relative">
    <input
      type="checkbox"
      name="dark-mode"
      id="dark-toggle"
      class="checkbox hidden"
      (click)="toggleDarkTheme()" />
    <div
      class="block border-[1px] dark:border-white border-gray-900 w-10 h-6 rounded-full"></div>
    <div
      class="dot absolute left-1 top-1 dark:bg-white bg-gray-800 w-4 h-4 rounded-full transition"></div>
  </div>
</label>
