@defer (on viewport) {
  <app-tittle-page
    titlePage="Experiencia"
    iconPage="experience"></app-tittle-page>
  <section class="flex flex-col md:flex-row justify-center items-center m-10">
    <div class="md:flex">
      <ul
        class="flex-column space-y space-y-4 text-sm font-medium text-teal-600 dark:text-gray-500 md:me-4 mb-4 md:mb-0">
        <li>
          <a
            (click)="openCity('Trabajo')"
            [class.active]="tabIndex === 'Trabajo'"
            class="border-2 border-teal-600 dark:border-0 inline-flex items-center px-4 py-3 rounded-lg hover:text-gray-900 bg-gray-50 hover:bg-gray-100 w-full dark:bg-gray-800 dark:hover:bg-gray-700 dark:hover:text-white"
            aria-current="page">
            🧑‍💼 Experiencia Laboral
          </a>
        </li>
        <li>
          <a
            (click)="openCity('Estudios')"
            [class.active]="tabIndex === 'Estudios'"
            class="border-2 border-teal-600 dark:border-0 inline-flex items-center px-4 py-3 rounded-lg hover:text-gray-900 bg-gray-50 hover:bg-gray-100 w-full dark:bg-gray-800 dark:hover:bg-gray-700 dark:hover:text-white">
            🏫 Experiencia Academica
          </a>
        </li>
      </ul>
      <div
        *ngIf="tabIndex === 'Trabajo'"
        class="border-2 border-teal-600 dark:border-0 p-6 bg-gray-50 text-medium text-gray-500 dark:text-gray-400 dark:bg-gray-800 rounded-lg w-full overflow-y-auto h-auto">
        <h3 class="text-lg font-bold text-teal-600 dark:text-white mb-2">
          Experiencia Laboral 💻
        </h3>
        <ol class="relative border-s border-teal-600 dark:border-gray-700">
          <li class="mb-5 ms-4">
            <div
              class="absolute w-3 h-3 bg-teal-600 rounded-full mt-1.5 -start-1.5 border border-teal-600 dark:border-gray-900 dark:bg-gray-700"></div>
            <time
              class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
              >2023 - Actualidad</time
            >
            <h3 class="text-lg font-bold text-teal-600 dark:text-white">
              FrontEnd Developer
            </h3>
            <h4 class="text-sm font-semibold text-teal-600 dark:text-white">
              Wairbut (Altia)
            </h4>
            <div
              class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400 text-balance">
              <div class="m-2">
                <p>
                  Desarrollo de proyecto para Cetse (Centro Tecnológico de
                  Seguridad).
                </p>
              </div>
              <p>
                <span class="font-medium text-teal-600 dark:text-white"
                  >Aptitudes:</span
                >
                Angular Material
                <span class="font-medium text-teal-600 dark:text-white">/</span>
                TypeScript
                <span class="font-medium text-teal-600 dark:text-white">/</span>
                Swagger
                <span class="font-medium text-teal-600 dark:text-white">/</span>
                Jira
                <span class="font-medium text-teal-600 dark:text-white">/</span>
                Angular
                <span class="font-medium text-teal-600 dark:text-white">/</span>
                Css
                <span class="font-medium text-teal-600 dark:text-white">/</span>
                JavaScript
                <span class="font-medium text-teal-600 dark:text-white">/</span>
                HTML
                <span class="font-medium text-teal-600 dark:text-white">/</span>
                AngularJS
              </p>
            </div>
          </li>
          <li class="mb-5 ms-4">
            <div
              class="absolute w-3 h-3 bg-teal-600 rounded-full mt-1.5 -start-1.5 border border-teal-600 dark:border-gray-900 dark:bg-gray-700"></div>
            <time
              class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
              >2022-2023</time
            >
            <h3 class="text-lg font-bold text-teal-600 dark:text-white">
              FullStack Developer
            </h3>
            <h4 class="text-sm font-semibold text-teal-600 dark:text-white">
              Wairbut (Altia)
            </h4>
            <div
              class="text-base font-normal text-gray-500 dark:text-gray-400 text-balance">
              <div class="m-2">
                <p>
                  Proyecto para la Dirección General de Seguros y Fondos de
                  Pensiones con React y .Net(C#)
                </p>
                <p>
                  React Hooks, React Router, Dom 6, Redux, TypeScript.Proyecto
                  para la Dirección General de Seguros y Fondos de Pensiones con
                  React y .Net(C#)
                </p>
              </div>

              <p>
                <span class="font-medium text-teal-600 dark:text-white"
                  >Aptitudes:</span
                >
                ASP.NET
                <span class="font-medium text-teal-600 dark:text-white">/</span>
                TypeScript
                <span class="font-medium text-teal-600 dark:text-white">/</span>
                Css
                <span class="font-medium text-teal-600 dark:text-white">/</span>
                Desarrollo front end
                <span class="font-medium text-teal-600 dark:text-white">/</span>
                React Hooks
                <span class="font-medium text-teal-600 dark:text-white">/</span>
                JavaScript
                <span class="font-medium text-teal-600 dark:text-white">/</span>
                SQL
                <span class="font-medium text-teal-600 dark:text-white">/</span>
                React.js
              </p>
            </div>
          </li>
          <li class="mb-5 ms-4">
            <div
              class="absolute w-3 h-3 bg-teal-600 rounded-full mt-1.5 -start-1.5 border border-teal-600 dark:border-gray-900 dark:bg-gray-700"></div>
            <time
              class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
              >2020</time
            >
            <h3 class="text-lg font-bold text-teal-600 dark:text-white">
              FullStack Developer Junior
            </h3>
            <h4 class="text-sm font-semibold text-teal-600 dark:text-white">
              LCC España
            </h4>
            <div
              class="text-base font-normal text-gray-500 dark:text-gray-400 text-balance">
              <div class="m-2">
                <p>Manejo de base de datos con SQLServer y creación de PLC</p>
                <p>Springboot y documentación de API con Swagger</p>
                <p>Angular</p>
                <p>Boostrap</p>
              </div>
              <p>
                <span class="font-medium text-teal-600 dark:text-white"
                  >Aptitudes:</span
                >
                Angular
                <span class="font-medium text-teal-600 dark:text-white">/</span>
                Boostrap
                <span class="font-medium text-teal-600 dark:text-white">/</span>
                Springboot y documentación de API con Swagger
                <span class="font-medium text-teal-600 dark:text-white">/</span>
                SQLServer
                <span class="font-medium text-teal-600 dark:text-white">/</span>
                GeoServer
              </p>
            </div>
          </li>
          <li class="mb-5 ms-4">
            <div
              class="absolute w-3 h-3 bg-teal-600 rounded-full mt-1.5 -start-1.5 border border-teal-600 dark:border-gray-900 dark:bg-gray-700"></div>
            <time
              class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
              >2020</time
            >
            <h3 class="text-lg font-bold text-teal-600 dark:text-white">
              Chatbot Developer junior
            </h3>
            <h4 class="text-sm font-semibold text-teal-600 dark:text-white">
              BotsLovers
            </h4>
            <div
              class="text-base font-normal text-gray-500 dark:text-gray-400 text-balance">
              <div class="m-2">
                <p>
                  Creación de VoiceBots y ChatBots con DialogFlow para redes
                  sociales, comercios, restaurantes .
                </p>
                <p>Notion · Trello · Dialogflow · Node.js</p>
              </div>
              <p>
                <span class="font-medium text-teal-600 dark:text-white"
                  >Aptitudes:</span
                >
                Dialogflow
                <span class="font-medium text-teal-600 dark:text-white">/</span>
                Node.js
                <span class="font-medium text-teal-600 dark:text-white">/</span>
                Trello
                <span class="font-medium text-teal-600 dark:text-white">/</span>
                Notion
              </p>
            </div>
          </li>
          <li class="ms-4">
            <div
              class="absolute w-3 h-3 bg-teal-600 rounded-full mt-1.5 -start-1.5 border border-teal-600 dark:border-gray-900 dark:bg-gray-700"></div>
            <time
              class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
              >2019-2020</time
            >
            <h3 class="text-lg font-bold text-teal-600 dark:text-white">
              Desarrollador junior
            </h3>
            <h4 class="text-sm font-semibold text-teal-600 dark:text-white">
              Metrica Consulting, S.L
            </h4>

            <div
              class="text-base font-normal text-gray-500 dark:text-gray-400 text-balance">
              <div class="m-2">
                <p>
                  Participando en el desarrollo de una app interna (Springboot +
                  Angular 8) para la gestión y organización de los turnos y
                  horarios de comida en la empresa (hincapié en la parte
                  backend).
                </p>
                <p>
                  Generación en excel del informe con los rangos de comidas y
                  los usuarios.
                </p>
                <p>Configserver para la gestión de la configuración.</p>
                <p>
                  Eureka server para la comunicación de los servicios.
                  -Desarrollo de varios microservicios haciendo hincapié en la
                  parte front y las vistas y usuarios, así como la comunicación
                  con el backend.
                </p>
                <p>
                  Participación en análisis y estimación de los desarrollos.
                </p>
                <p>
                  Pruebas API REST: POSTMAN. -Metodología agile Scrum (Tableros
                  kanban / azure boards).
                </p>
                <p>
                  Control de versiones Git con revisión de código mediante
                  pullrequest (Múltiples ramas: master, development...) y
                  unificación y control del proyecto.
                </p>
                <p>Test unitarios con JUnit.</p>
                <p>
                  Ciclo de maven completo (clean, compile, install, deploy).
                </p>
                <p>
                  Creación de tareas Jenkins para subir/depositar el jar final
                  en artifactory.
                </p>
                <p>
                  Creación de biblioteca de utilidades en un proyecto maven
                  java: cálculo de fechas.
                </p>
                <p>
                  Despliegue tanto en el front como en el back con sus
                  respectivas configuraciones en el pom y en el aplication
                  properties y en angular .json.
                </p>
              </div>
              <p>
                <span class="font-medium text-teal-600 dark:text-white"
                  >Aptitudes:</span
                >
                MySQL
                <span class="font-medium text-teal-600 dark:text-white">/</span>
                Spring Boot 2: Spring data ,JPA
                <span class="font-medium text-teal-600 dark:text-white">/</span>
                Api Rest
                <span class="font-medium text-teal-600 dark:text-white">/</span>
                Java 8
                <span class="font-medium text-teal-600 dark:text-white">/</span>
                Angular 8 + Bootstrap 4
                <span class="font-medium text-teal-600 dark:text-white">/</span>
                Sonar Lint
                <span class="font-medium text-teal-600 dark:text-white">/</span>
                Maven
                <span class="font-medium text-teal-600 dark:text-white">/</span>
                JUnit
              </p>
            </div>
          </li>
        </ol>
      </div>
      <div
        *ngIf="tabIndex === 'Estudios'"
        class="border-2 border-teal-600 dark:border-0 p-6 bg-gray-50 text-medium text-gray-500 dark:text-gray-400 dark:bg-gray-800 rounded-lg w-full overflow-y-auto h-auto">
        <h3 class="text-lg font-bold text-teal-600 dark:text-white mb-2">
          Experiencia Academica 📖
        </h3>
        <ol class="relative border-s border-teal-600 dark:border-gray-700">
          <li class="mb-10 ms-4">
            <div
              class="absolute w-3 h-3 bg-teal-600 rounded-full mt-1.5 -start-1.5 border border-teal-600 dark:border-gray-900 dark:bg-gray-700"></div>
            <time
              class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
              >2018-2020</time
            >
            <h3 class="text-lg font-semibold text-teal-600 dark:text-white">
              Desarrollo de aplicaciones multiplataforma
            </h3>
            <p
              class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
              Impartí la FP de grado superior de DAW en iFP Grupo Planeta
            </p>
          </li>
          <li class="mb-10 ms-4">
            <div
              class="absolute w-3 h-3 bg-teal-600 rounded-full mt-1.5 -start-1.5 border border-teal-600 dark:border-gray-900 dark:bg-gray-700"></div>
            <time
              class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
              >2017</time
            >
            <h3 class="text-lg font-semibold text-teal-600 dark:text-white">
              Curso de desarrollo orientado a objetos y desarrollo de
              aplicaciones SAP(ABAP)
            </h3>
            <p class="text-base font-normal text-gray-500 dark:text-gray-400">
              Aprendizaje de Conocimientos básicos en programacion,bases de
              datos ,ofimatica , software y hardware(SQL , HTML5 ,CSS3 ,PHP ,
              Javascript y Java).
            </p>
            <p class="text-base font-normal text-gray-500 dark:text-gray-400">
              Aprender fundamentos básicos en el paquete de soluciones SAP.
              Conocimiento de transacciones básicas y principios básicos de
              lenguaje de programación ABAP.
            </p>
          </li>
          <li class="ms-4">
            <div
              class="e w-3 h-3 bg-teal-600 rounded-full mt-1.5 -start-1.5 border border-teal-600 dark:border-gray-900 dark:bg-gray-700"></div>
            <time
              class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
              >2011-2016</time
            >
            <h3 class="text-lg font-semibold text-teal-600 dark:text-white">
              Grado en Antropología Social y Cultural, Ciencias sociales
            </h3>
            <p class="text-base font-normal text-gray-500 dark:text-gray-400">
              Curse estudios universitarios en antropología en la universidad
              Complutense de Madrid
            </p>
          </li>
        </ol>
      </div>
    </div>
  </section>
} @placeholder {
  <app-loading></app-loading>
} @loading {
  Loading...
}
