@defer (on viewport) {
  <section
    class="screen-mobile md:screen flex flex-col md:flex-row justify-center items-center m-10">
    <div class="md:flex">
      <ul
        class="flex-column space-y space-y-4 text-sm font-medium text-gray-500 dark:text-gray-400 md:me-4 mb-4 md:mb-0">
        <li>
          <a
            (click)="openCity('Trabajo')"
            [class.active]="tabIndex === 'Trabajo'"
            class="inline-flex items-center px-4 py-3 rounded-lg hover:text-gray-900 bg-gray-50 hover:bg-gray-100 w-full dark:bg-gray-800 dark:hover:bg-gray-700 dark:hover:text-white"
            aria-current="page">
            🧑‍💼 Experiencia Laboral
          </a>
        </li>
        <li>
          <a
            (click)="openCity('Estudios')"
            [class.active]="tabIndex === 'Estudios'"
            class="inline-flex items-center px-4 py-3 rounded-lg hover:text-gray-900 bg-gray-50 hover:bg-gray-100 w-full dark:bg-gray-800 dark:hover:bg-gray-700 dark:hover:text-white">
            🏫 Experiencia Academica
          </a>
        </li>
      </ul>
      <div
        *ngIf="tabIndex === 'Trabajo'"
        class="p-6 bg-gray-50 text-medium text-gray-500 dark:text-gray-400 dark:bg-gray-800 rounded-lg w-full overflow-y-auto h-64 md:h-full">
        <h3 class="text-lg font-bold text-gray-900 dark:text-white mb-2">
          Experiencia Laboral 💻
        </h3>
        <ol class="relative border-s border-gray-200 dark:border-gray-700">
          <li class="mb-10 ms-4">
            <div
              class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
            <time
              class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
              >February 2022</time
            >
            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
              Application UI code in Tailwind CSS
            </h3>
            <p
              class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
              Get access to over 20+ pages including a dashboard layout, charts,
              kanban board, calendar, and pre-order E-commerce & Marketing
              pages.
            </p>
            <a
              href="#"
              class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-200 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700"
              >Learn more
              <svg
                class="w-3 h-3 ms-2 rtl:rotate-180"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 10">
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M1 5h12m0 0L9 1m4 4L9 9" /></svg
            ></a>
          </li>
          <li class="mb-10 ms-4">
            <div
              class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
            <time
              class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
              >March 2022</time
            >
            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
              Marketing UI design in Figma
            </h3>
            <p class="text-base font-normal text-gray-500 dark:text-gray-400">
              All of the pages and components are first designed in Figma and we
              keep a parity between the two versions even as we update the
              project.
            </p>
          </li>
          <li class="ms-4">
            <div
              class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
            <time
              class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
              >April 2022</time
            >
            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
              E-Commerce UI code in Tailwind CSS
            </h3>
            <p class="text-base font-normal text-gray-500 dark:text-gray-400">
              Get started with dozens of web components and interactive elements
              built on top of Tailwind CSS.
            </p>
          </li>
        </ol>
      </div>
      <div
        *ngIf="tabIndex === 'Estudios'"
        class="p-6 bg-gray-50 text-medium text-gray-500 dark:text-gray-400 dark:bg-gray-800 rounded-lg w-full overflow-y-auto h-64 md:h-full">
        <h3 class="text-lg font-bold text-gray-900 dark:text-white mb-2">
          Experiencia Academica 📖
        </h3>
        <ol class="relative border-s border-gray-200 dark:border-gray-700">
          <li class="mb-10 ms-4">
            <div
              class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
            <time
              class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
              >2018-2020</time
            >
            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
              Desarrollo de aplicaciones multiplataforma
            </h3>
            <p
              class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
              Impartí la FP de grado superior de DAW en iFP Grupo Planeta
            </p>
          </li>
          <li class="mb-10 ms-4">
            <div
              class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
            <time
              class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
              >2017</time
            >
            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
              Curso de desarrollo orientado a objetos y desarrollo de
              aplicaciones SAP(ABAP)
            </h3>
            <p class="text-base font-normal text-gray-500 dark:text-gray-400">
              Aprendizaje de Conocimientos básicos en programacion,bases de
              datos ,ofimatica , software y hardware(SQL , HTML5 ,CSS3 ,PHP ,
              Javascript y Java).
            </p>
            <p class="text-base font-normal text-gray-500 dark:text-gray-400">
              Aprender fundamentos básicos en el paquete de soluciones SAP.
              Conocimiento de transacciones básicas y principios básicos de
              lenguaje de programación ABAP.
            </p>
          </li>
          <li class="ms-4">
            <div
              class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
            <time
              class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
              >2011-2016</time
            >
            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
              Grado en Antropología Social y Cultural, Ciencias sociales
            </h3>
            <p class="text-base font-normal text-gray-500 dark:text-gray-400">
              Curse estudios universitarios en antropología en la universidad
              Complutense de Madrid
            </p>
          </li>
        </ol>
      </div>
    </div>
  </section>
} @placeholder {
  <app-loading></app-loading>
} @loading {
  Loading...
}
