@defer (on viewport) {
  <h2
    class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-teal-600 dark:text-white/80 mt-5 ml-10 md:ml-40">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="icon icon-tabler icon-tabler-user"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
      <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
      <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
    </svg>
    Sobre mi
  </h2>
  <section
    class="screen-mobile md:screen flex flex-col md:flex-row justify-center items-center m-10 h-96">
    <p>about works!</p>
  </section>
} @placeholder {
  <app-loading></app-loading>
} @loading {
  Loading...
}
