@font-face {
  font-family: 'Onest';
  src: url('../../fonts/Onest-Regular.ttf') format('ttf');
  src: url('../../fonts/Onest-Bold.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EnterCommand';
  src:
    url('../../fonts/entercommand.woff2') format('woff2'),
    url('../../fonts/entercommand.woff') format('woff');
  font-display: swap;
}

body {
  font-family: 'Onest', Fallback, sans-serif;
}
