:root {
  --light-primary-color: #0d9488;
  --light-secondary-color: white;
  --dark-primary-color: linear-gradient(#3f51b5, #9c27b0, #e91e63);
  --dark-secondary-color: #1e293b;
}


  html {
    @apply bg-slate-200;
  }

  html.dark {
    @apply bg-neutral-950;
  }

